<!-- Header -->
 <section>
    <div style="background:url(https://images.unsplash.com/photo-1657974361095-4d5f3fb381fb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center / cover no-repeat; height: 400px;" class="bg-dark">
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/post/feed.html">Blog feed</a>
                    </li>
                    <li id="login-link" class="nav-item">
                    <a class="nav-link" href="/account/login.html">Log in</a>
                    </li>
                    <li id="profile-dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/post/createPost.html">Write a new post</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/account/profilePage.html">My Profile</a></li>
                            <li><a class="dropdown-item" href="/account/editProfilePage.html">Edit Profile</a></li>
                            <li><a id="sign-out" class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
	</nav>
   
  <!-- Breadcrumb -->
    <section class="container my-5">
        <nav aria-label="breadcrumb">
            <ol breadcrumb-nav class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3 list-unstyled d-flex" id="breadcrumb-list">
            </ol>
        </nav>
    </section>
</section>
<script type="module" src="/js/components/header.js"></script>