// Define your design variables (like colours, border radius, fonts, etc.)

//Adding contrast colors to primary and secondary to test the functionality of variables
$primary: #1f9e76;
$secondary: #f08f88;
$border-radius: 1rem;
$font-family-base: "Inter";